<ion-header>
  <ion-navbar>
    <ion-title>Sign in</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <login-form (onSubmit)="login($event)"></login-form>
  <div padding>
    <p (click)="goToRegistration()">Don't have an account?
      <span>Sign Up</span>
    </p>
  </div>
</ion-content>