<form [formGroup]="record" (ngSubmit)="submitForm()">

  <ion-item>
    <ion-label>Name</ion-label>
    <ion-input type="text" formControlName="name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Description</ion-label>
    <ion-input type="text" formControlName="description"></ion-input>
  </ion-item>

  <div padding>
    <button ion-button type="submit" [disabled]="!record.valid">Add</button>
  </div>

</form>