<form [formGroup]="login" (ngSubmit)="submitForm()">

  <ion-item>
    <ion-label>Email</ion-label>
    <ion-input type="email" formControlName="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Password</ion-label>
    <ion-input type="password" formControlName="password"></ion-input>
  </ion-item>

  <div padding>
    <button ion-button type="submit" [disabled]="!login.valid">Sign In</button>
  </div>

</form>