<ion-header>
  <ion-navbar>
    <ion-title>Sign Up</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <registration-form (onSubmit)="register($event)"></registration-form>
</ion-content>