<ion-header>
  <ion-navbar>
    <ion-title>Records</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let record of data">
    <ion-card-header>
      {{ record.name }}
    </ion-card-header>
    <ion-card-content>
      {{ record.description }}
    </ion-card-content>
  </ion-card>

  <ion-fab bottom right>
    <button ion-fab (click)="goToAddRecord()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>